<div class="card col-12" (mouseleave)="hidePreviewEpisode()">
  <!-- <p>Episodios de Olor</p> -->
  @if(!studyZone){
  <p-skeleton width="100%" height="150px"></p-skeleton>
  } @else {

  <div id="timeline" class="flex gap-1">
    <div id="timeline-legend">Grado de molestia</div>
    <div id="inconvenience-chart">
      <div class="inconvenience-level">
        <span>100</span>
      </div>
      <div class="inconvenience-level">
        <span>90</span>
      </div>
      <div class="inconvenience-level">
        <span>80</span>
      </div>
      <div class="inconvenience-level">
        <span>70</span>
      </div>
      <div class="inconvenience-level">
        <span>60</span>
      </div>
      <div class="inconvenience-level">
        <span>50</span>
      </div>
      <div class="inconvenience-level">
        <span>40</span>
      </div>
      <div class="inconvenience-level">
        <span>30</span>
      </div>
      <div class="inconvenience-level">
        <span>20</span>
      </div>
      <div class="inconvenience-level">
        <span>10</span>
      </div>
      <div class="inconvenience-level"></div>
    </div>
    <div id="terms" #termsSlider class="flex">
      @for(term of terms; track term; let tIndex = $index){
      <div class="term">
        <span>{{ term.episodes[0].date | date : "M/yyyy" }}</span>
        @for(ep of term.episodes; track ep; let epIndex = $index){
        <div
          class="episode"
          pTooltip="{{ ep.date | date : 'MMMM d' }}"
          [autoHide]="false"
          [ngClass]="{
            active: ep.id === episode?.id,
            preview: ep.id === episodePreview?.id && ep.id !== episode?.id
          }"
          [positionTop]="-10"
          tooltipPosition="top"
          (click)="selectEpisode($event, ep.id)"
          (mouseover)="previewEpisode(tIndex, epIndex)"
        >
          <div
            class="inconvenience"
            [style]="getHeightByInconvenience(ep.inconvenience)"
          ></div>
        </div>
        }
      </div>
      }
    </div>
  </div>
  <p-button
    #prevButton
    (onClick)="prev()"
    icon="pi pi-angle-left"
    [rounded]="true"
    [raised]="true"
    [text]="true"
    severity="secondary"
  ></p-button>
  <p-button
    #nextButton
    (onClick)="next()"
    icon="pi pi-angle-right"
    [rounded]="true"
    [raised]="true"
    [text]="true"
    severity="secondary"
  ></p-button>
  }
</div>
