<div class="card col-12">
  <h4>Timeline</h4>
  <div id="timeline" class="flex gap-1">
    @for(term of terms; track term){
      <div class="term">
        <span>{{term.year}}/{{term.month}}</span>
        @for(episode of term.episodes; track episode){
          <div class="episode" pTooltip="{{episode.date}}" [autoHide]="false" tooltipPosition="top" >
            <div class="intensity" [style]="getHeightByIntensity(episode.intensity)"></div>
          </div>
        }
      </div>
    }
  </div>
</div>
