<div class="card col-12 ">
  <!-- <p>Episodios de Olor</p> -->
  <div id="timeline" class="flex gap-1">
    <div id="inconvenience-chart">
      <div class="inconvenience-level">
        <span>9</span>
      </div>
      <div class="inconvenience-level">
        <span>8</span>
      </div>
      <div class="inconvenience-level">
        <span>7</span>
      </div>
      <div class="inconvenience-level">
        <span>6</span>
      </div>
      <div class="inconvenience-level">
        <span>5</span>
      </div>
      <div class="inconvenience-level">
        <span>4</span>
      </div>
      <div class="inconvenience-level">
        <span>3</span>
      </div>
      <div class="inconvenience-level">
        <span>2</span>
      </div>
      <div class="inconvenience-level">
        <span>1</span>
      </div>
      <div class="inconvenience-level">
      </div>
    </div>
    <div id="terms" #termsSlider class="flex">
      @for(term of terms; track term; let tIndex = $index){
        <div class="term">
          <span>{{term.year}}/{{term.month}}</span>
          @for(ep of term.episodes; track ep; let epIndex = $index){
            <div
            class="episode"
            pTooltip="{{ep.date}}"
            [autoHide]="false"
            [ngClass]="{'active' : ep.id === episode?.id, 'preview' : ep.id === episodePreview?.id && ep.id !== episode?.id}"
            [positionTop]="-10" tooltipPosition="top"
            (click)="selectEpisode($event, ep.id)"
            (mouseover)="previewEpisode(tIndex, epIndex)"
            (mouseleave)="hidePreviewEpisode()">
              <div class="inconvenience" [style]="getHeightByInconvenience(ep.inconvenience)"></div>
            </div>
          }
        </div>
      }
    </div>
  </div>
  <p-button #prevButton (onClick)="prev()" icon="pi pi-angle-left" [rounded]="true" [raised]="true" [text]="true" severity="secondary"></p-button>
  <p-button #nextButton (onClick)="next()" icon="pi pi-angle-right" [rounded]="true" [raised]="true" [text]="true" severity="secondary"></p-button>
</div>
