:host ::ng-deep {
    .floatSidebar {
      z-index: 50!important;
      height: fit-content;
      max-height: calc(100vh - 6rem);
      margin: 4.5rem .5rem auto;
    //   width: calc(100% - 5rem);
      min-width: 390px;
      border-radius: 12px;
      background-color: var(--surface-overlay);
      .p-sidebar-header{
        padding: 0 0.15rem 0.5rem;
      }
      .p-sidebar-content{
        padding: 0;
      }
    }
  }