<div class="card p-2 flex flex-column gap-2">
  <div class="card-header">
    <h3>Gráfica de tiempo</h3>
  </div>
  <div class="card-body flex flex-column flex-nowrap lg:flex-row gap-2">
    <div class="card col-12 lg:col-7 xl:col-9 flex-order-1 lg:flex-order-0">
      <div class="card-body">
        @if(data && data.datasets && data.datasets.length > 0){
          <p-chart type="line" [data]="data" [options]="options" />
        }
      </div>
    </div>

    <div class="w-full mb-4 lg:mb-0 lg:ml-2 lg:mr-2 flex-order-0 lg:flex-order-1">
      <div class="card-body flex flex-column h-full">
        <div class="flex flex-column md:flex-row gap-2 mt-1 ml-1 mr-1">

          <div class="flex md:flex-column flex-wrap w-full gap-4 md:gap-2">
            <h6 class="w-full ml-1 mt-1 mr-1 mb-0 md:mb-3" >Filtrar por:</h6>
            <div class="flex field-checkbox mb-1">
                <p-radioButton [inputId]="'timeFilter1'" [(ngModel)]="timeFilter" name="timeFilter" [value]="'hours'" (click)="getObservationOrderByTypeAndHourRange()"></p-radioButton>
                <label [for]="'timeFilter1'">Horario</label>
            </div>
            <div class="flex field-checkbox mb-1">
                <p-radioButton [inputId]="'timeFilter2'" [(ngModel)]="timeFilter" name="timeFilter" [value]="'months'" (click)="getObservationOrderByTypeAndMonth()"></p-radioButton>
                <label [for]="'timeFilter2'">Mensual</label>
            </div>
            <div class="flex field-checkbox mb-1">
                <p-radioButton [inputId]="'timeFilter3'" [(ngModel)]="timeFilter" name="timeFilter" [value]="'seasons'" (click)="getObservationOrderByTypeAndSeason()"></p-radioButton>
                <label [for]="'timeFilter3'">Estacional</label>
            </div>
            <div class="flex field-checkbox mb-1">
                <p-radioButton [inputId]="'timeFilter4'" [(ngModel)]="timeFilter" name="timeFilter" [value]="'years'" (click)="getObservationOrderByTypeAndYear()"></p-radioButton>
                <label [for]="'timeFilter4'">Anual</label>
            </div>
          </div>

          <p-divider class="block md:hidden" />
          <p-divider layout="vertical" class="hidden md:block"/>

          <div class="flex md:flex-column flex-wrap w-full gap-4 md:gap-2">
            <h6 class="w-full ml-1 mt-0 md:mt-1 mr-1 mb-0 md:mb-3" >Mostrar:</h6>
            <div class="flex field-checkbox mb-1">
                <p-radioButton [inputId]="'dataTypeFilter1'" [(ngModel)]="dataTypeFilter" name="dataTypeFilter" [value]="'type'" (click)="changeTimeFilter()"></p-radioButton>
                <label [for]="'dataTypeFilter1'">Tipología</label>
            </div>
            <div class="flex field-checkbox mb-1">
                <p-radioButton [inputId]="'dataTypeFilter2'" [(ngModel)]="dataTypeFilter" name="dataTypeFilter" [value]="'intensity'" (click)="changeTimeFilter()"></p-radioButton>
                <label [for]="'dataTypeFilter2'">Intensidad</label>
            </div>
            <div class="flex field-checkbox mb-1">
                <p-radioButton [inputId]="'dataTypeFilter3'" [(ngModel)]="dataTypeFilter" name="dataTypeFilter" [value]="'hedonicTone'" (click)="changeTimeFilter()"></p-radioButton>
                <label [for]="'dataTypeFilter3'">Tono hedónico</label>
            </div>
          </div>

        </div>

        <p-divider class="hidden md:block"/>

        <h6 class="hidden md:block ml-1 mt-0 mr-1 mb-0" >{{observations.length}} observaciones </h6>
        <div class="hidden md:flex h-full flex-column m-1 h-100 justify-content-around">
          @for(data of data?.datasets; track data ){
            <div class="flex aling-items-center justify-content-between gap-2">
              <small>{{data.label}}</small>
              <div class="mt-5 md:mt-0 flex align-items-center">
                <div class="surface-300 border-round overflow-hidden w-20rem lg:w-7rem" style="height: 8px;">
                  <div class="h-full"
                  [style]="{'backgroundColor':data.backgroundColor, 'width': getPercents(data.data) + '%'}"
                  ></div>
                </div>
                <small class="ml-3 w-2rem" [style]="{'color':data.backgroundColor}">{{getPercents(data.data) + '%'}}</small>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>

</div>
