<p-dialog  header="Select a study zone" [(visible)]="visible" [maskStyle]="'background:#F00'" [dismissableMask]="false" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <p-button (onClick)="selectStudyZone()">
    <i class="pi pi-map-marker"></i> Study zone 1
  </p-button>
  <p-button (onClick)="selectStudyZone()">
    <i class="pi pi-map-marker"></i> Study zone 2
  </p-button>
  <p-button (onClick)="selectStudyZone()">
    <i class="pi pi-map-marker"></i> Study zone 3
  </p-button>
  <p-button (onClick)="selectStudyZone()">
    <i class="pi pi-map-marker"></i> Study zone 4
  </p-button>
</p-dialog>
