@if(studyZone){
  <button id="toggleModalButton" pButton pRipple class="p-button-rounded" (click)="onToggleEpisodesModal()">
    <i class="pi pi-bars"></i>
  </button>
}

<p-overlayPanel #plausibilityInfo>
  <div class="max-w-30rem">
    <h6>
      <b>Criterio de plausibilidad</b>
    </h6>
    <p>
      Un episodio es plausible si <b>{{plausibilityMinOKObservations}} o más</b> de las observaciones son plausibles.
    </p>
    <p>
      La observación es plausible si:<br/>
      - El observador está a menos de <b>{{plausibilityDistance}}m</b> de la fuente.<br/>
      - La velocidad del viento es menor a <b>{{plausibilityWindSpeed}}m/s</b>.<br/>
      - Si la observación no está a menos de <b>{{plausibilityDistance}}m</b> de la fuente y el viento es más rápido de <b>{{plausibilityWindSpeed}}m/s</b>:<br/>
      - El viento sopla desde la fuente al receptor pasando por el cono del observador.
    </p>
  </div>
</p-overlayPanel>

<div id="episodesModal" #episodesModal></div>
<p-sidebar [(visible)]="episdoesSidebarVisible" [appendTo]="episodesModal" (onHide)="onToggleEpisodesModal()" [position]="'right'" [styleClass]="'floatSidebar col-10 lg:col-3 md:col-4'" [modal]="false" [blockScroll]="false">
  <ng-template pTemplate="header">
    <div class="flex flex-1 justify-content-between">
      <span>Episodios: {{studyZone?.episodes?.length}}</span>
    </div>
  </ng-template>

  @if(studyZone && episdoesSidebarVisible){
    <div id="episodesContainer" #episodesContainer>
      <p-accordion [activeIndex]="episode?.id">
        @for( ep of studyZone.episodes; track ep; let index = $index){
          <p-accordionTab
          [classList]="'position-sticky'"
          [ngClass]="{'preview': index === previewEpisode?.id}"
          (click)="selectEpisode(ep)"
          >
            <ng-template pTemplate="header">
              Ep. {{(index + 1)}}
              <span class="severance">{{ep.date | date:'dd/MM/Y'}}</span>
              <span class="severance flex flex-1">{{ep.observations[0].relationships.odourSubType.relationships?.odourType?.name}}</span>
              <span class="severance" >
                {{ep.inconvenience > 100 ? 100 : ep.inconvenience | number : '1.1-1'}}
                <span class="gm color-{{ep.inconvenienceColor}}"></span>
              </span>
            </ng-template>

            <div class="flex flex-column">

              <h6 class="flex gap-2">
                Plausibilidad
                <i class="pi pi-info-circle flex-1" (click)="plausibilityInfo.toggle($event)"></i>
              </h6>

              <div class="flex justify-content-center align-items-center gap-2 badge " [ngClass]="{ 'plausible' : ep.plausible }">
                @if(ep.plausible){
                  <i class="pi pi-check"></i>
                  <span>Plausible</span>
                }
                @else {
                  <i class="pi pi-times"></i>
                  <span>No plausible</span>
                }
              </div>


              <h6>
                Datos del episodio
              </h6>
              <div class="flex justify-content-between">
                <b>Inicio:</b>
                <span>{{ep.observations[0].createdAt | date:'dd/MM/Y - HH:mm'}}</span>
              </div>
              <div class="flex justify-content-between">
                <b>Fin:</b>
                <span>{{ep.observations[ep.observations.length - 1].createdAt | date:'dd/MM/Y - HH:mm'}}</span>
              </div>
              <div class="flex justify-content-between">
                <b>Duración:</b>
                <span>{{getEpisodeLength(ep.observations[0].createdAt, ep.observations[ep.observations.length - 1].createdAt)}}</span>
              </div>

              <!-- <div class="flex justify-content-between">
                <span>Type</span>
                <span>{{ep.observations[0].relationships.odourSubType.relationships?.odourType?.name}}</span>
              </div> -->

              <div class="flex justify-content-between">
                <b>Grado de participación:</b>
                <span>{{ ep.participation | number : '1.2-2' }}%</span>
              </div>

              <!-- <div class="flex justify-content-between">
                <span>
                  Degree of inconvenience
                </span>
                <div class="flex justify-content-between align-items-center gap-1">
                  <span class="gm color-{{ep.inconvenienceColor}}"></span>
                  {{getInconvenienceInBase100(ep.inconvenience)}}
                </div>
              </div> -->

              <div class="flex justify-content-between">
                <b>Participación ciudadana:</b>
                <span>{{ep.differentUsers}}</span>
              </div>

            </div>

            <h6>
              <b>{{ep.observations.length}} Observaciones</b>
            </h6>
            <div class="flex flex-wrap max-w-max gap-1" (mouseleave)="observationPreview(null)">
              @for(obs of ep.observations; track obs; let index = $index){
                <div
                  [id]="'obsButton' + obs.id"
                  class="observation obsButton"
                  (click)="[ol.show($event), observationSelected(obs.id)]"
                  (mouseenter)="[ol.show($event), observationPreview(obs.id)]"
                  (mouseover)="ol.show($event)"
                  (mouseleave)="[ol.hide()]"
                  [ngClass]="{ 'active' : obs.id === observation , 'preview' : obs.id === previewObservation && obs.id !== observation, 'plausible' : obs.plausible, 'not-plausible' : !obs.plausible}"
                >
                  @if(obs.plausible){
                    <i class="pi pi-check"></i>
                  }
                  @else {
                    <i class="pi pi-times"></i>
                  }
                  <b>{{obs.createdAt| date:'HH:mm'}}h.</b>
                </div>

                <p-overlayPanel [style]="{'pointer-events': 'none'}" #ol>
                  <div class="flex gap-2">
                    <div class="max-w-24rem gap-2 mb-3">
                      @if(obs.plausible){
                        <div class="flex justify-content-start align-items-center gap-2 mb-1">
                          <i class="pi pi-check"></i>
                          <b><span>Plausible</span></b>
                        </div>
                        La observación es plausible ya que
                        @if(obs.APGEMOdistance <= plausibilityDistance && obs.relationships.wind.speed > plausibilityWindSpeed){
                          el observador está a menos de <b>{{plausibilityDistance}}m</b> de la fuente.
                        }
                        @else if (obs.APGEMOdistance > plausibilityDistance && obs.relationships.wind.speed <= plausibilityWindSpeed){
                          la velocidad del viento es menor a <b>{{plausibilityWindSpeed}}m/s</b>.
                        }
                        @else if (obs.APGEMOdistance <= plausibilityDistance && obs.relationships.wind.speed <= plausibilityWindSpeed) {
                          el observador está a menos de <b>{{plausibilityDistance}}m</b> de la fuente y la velocidad del viento es menor a <b>{{plausibilityWindSpeed}}m/s</b>.
                        }
                        @else {
                          el viento sopla desde la fuente al receptor pasando por el cono del observador.
                        }
                      }
                      @else {
                        <div class="flex justify-content-start align-items-center gap-2 mb-1">
                          <i class="pi pi-times"></i>
                          <b><span>No plausible</span></b>
                        </div>
                        La observación no es plausible porque el observador está a más de <b>{{plausibilityDistance}}m.</b>
                        de la fuente, la velocidad del viento es mayor a <b>{{plausibilityWindSpeed}}m/s</b>
                        y el viento no sopla desde la fuente al receptor pasando por el cono del observador.
                      }
                    </div>
                  </div>
                  <div class="flex justify-content-between">
                    <b>Fecha:</b> {{obs.createdAt| date:'dd/MM/Y HH:mm'}}<br/>
                  </div>
                  <div class="flex justify-content-between">
                    <b>Velcidad del viento:</b> {{ obs.relationships.wind.speed | number : '1.0-2' }}m/s<br/>
                  </div>
                  <div class="flex justify-content-between">
                    <b>Dirección del viento:</b> {{ obs.relationships.wind.deg | number : '1.0-2' }}º<br/>
                  </div>
                  <div class="flex justify-content-between">
                    <b>Distancia a APGEMO:</b> {{ obs.APGEMOdistance | number : '1.0-0' }}m<br/>
                  </div>
                  <div class="flex justify-content-between">
                    <b>Tipo:</b> {{obs.relationships.odourSubType.relationships?.odourType?.name}}<br/>
                  </div>
                  <div class="flex justify-content-between">
                    <b>Subtipo:</b> {{obs.relationships.odourSubType.name}}<br/>
                  </div>
                  <div class="flex justify-content-between">
                    <b>Tono hedónico:</b> {{obs.relationships.odourHedonicTone?.name}}<br/>
                  </div>
                  <div class="flex justify-content-between">
                    <b>Intensidad:</b> {{obs.relationships.odourIntensity?.name}}<br/>
                  </div>
                </p-overlayPanel>

              }
            </div>
          </p-accordionTab>
        }
      </p-accordion>
    </div>
  }

</p-sidebar>


