#toggleModalButton{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  width: 3rem;
  height: 3rem;
}
#episodesModal{
  .floatSidebar{
    max-height: calc(100vh - 24rem);
    margin-top: auto;
    border-radius: 10px;
  }
}
.observation{
  box-sizing: border-box;
  transition: all .3s ease;
  background-color: transparent;
  border-left: 0 solid transparent ;
  padding: 3px 5px;
  border-radius: 5px;
  color: #495057;
  border: 1px solid  #d8d8d8;
  text-align: center;
  cursor: pointer;
  &.active, &.active:hover{
    cursor: default;
    background-color: #ffe7e0;
    border: 1px solid  #fd9a77;
    border-radius: 5px;
  }
  &:hover, &.preview{
    background-color: #ebebff;
    border: 1px solid  #7474bf;
    border-radius: 5px;
  }
}
:host ::ng-deep {
  .floatSidebar {
    height: fit-content;
    max-height: calc(100vh - 24rem);
    margin: 8rem 3rem auto;
    border-radius: 12px;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  }
  .p-accordion-header{
    position: sticky;
    top: 0;
    .p-accordion-header-link{
      background-color:#FFF;
      color: var(--text-color);
      &:hover{
        background-color:#e4e6ff
      }
    }

  }
  .p-accordion-tab-active{
    .p-accordion-header-link{
      background-color:#f3f3f3;
    }
  }
  &.preview{
    .p-accordion-header-link{
      background-color:#e4e6ff
    }
  }
}
