@if(studyZone){
  <button id="toggleModalButton" pButton pRipple class="p-button-rounded" (click)="onToggleEpisodesModal()">
    <i class="pi pi-bars"></i>
  </button>
}

<p-overlayPanel #plausibilityInfo>
  <div class="max-w-30rem">
    <h6>
      <b>Plausibility criteria</b>
    </h6>
    <p>
      The episode is plausible if the following criteria are met:<br/>
      - <b>{{plausibilityMinOKObservations}} or more</b> of observations are plausible.
    </p>
    <p>
      The observation is plausible if:<br/>
      - The observer is less than <b>{{plausibilityDistance}}m</b> from the source.<br/>
      - The wind speed is less than <b>{{plausibilityWindSpeed}}m/s</b>.<br/>
      If the observation is not under <b>{{plausibilityDistance}}m</b> of the source and the wind is faster than <b>{{plausibilityWindSpeed}}m/s</b>:<br/>
      - The wind is blowing from the source to the receptor passing through the observer's cone.
    </p>
  </div>
</p-overlayPanel>

<div id="episodesModal" #episodesModal></div>
<p-sidebar [(visible)]="episdoesSidebarVisible" [appendTo]="episodesModal" [position]="'right'" [styleClass]="'floatSidebar col-10 lg:col-3 md:col-4'" [modal]="false" [blockScroll]="false">
  <ng-template pTemplate="header">
    <div class="flex flex-1 justify-content-between">
      <span>Episodies: {{studyZone?.episodes?.length}}</span>
    </div>
  </ng-template>

  @if(studyZone && episdoesSidebarVisible){
    <div id="episodesContainer" #episodesContainer>
      <p-accordion [activeIndex]="episode?.id">
        @for( ep of studyZone.episodes; track ep; let index = $index){
          <p-accordionTab
          [classList]="'position-sticky'"
          [ngClass]="{'preview': index === previewEpisode?.id}"
          (click)="selectEpisode(ep)"
          
          >
            <ng-template pTemplate="header">
              Episode {{(index + 1)}}
              <span class="severance">{{ep.date | date:'dd/MM/Y'}}</span>
              <span class="severance flex flex-1">{{ep.observations[0].relationships.odourSubType.relationships?.odourType?.name}}</span>
              <span class="severance" >
                {{getInconvenienceInBase100(ep.inconvenience)}}
                <span class="gm color-{{ep.inconvenienceColor}}"></span>
              </span>
            </ng-template>

            <div class="flex flex-column">

              <h6 class="flex gap-2">
                Plausibility
                <i class="pi pi-info-circle flex-1" (click)="plausibilityInfo.toggle($event)"></i>
              </h6>

              <div class="flex justify-content-center align-items-center gap-2">
                @if(ep.plausible){
                  <i class="pi pi-check"></i>
                  <span>Plausible</span>
                }
                @else {
                  <i class="pi pi-times"></i>
                  <span>Not plausible</span>
                }
              </div>


              <h6>
                Data
              </h6>
              <div class="flex justify-content-between">
                <span>
                  Start
                </span>
                <span>
                  {{ep.observations[0].createdAt | date:'dd/MM/Y - HH:mm'}}
                </span>
              </div>
              <div class="flex justify-content-between">
                <span>
                  End
                </span>
                <span>
                  {{ep.observations[ep.observations.length - 1].createdAt | date:'dd/MM/Y - HH:mm'}}
                </span>
              </div>
              <div class="flex justify-content-between">
                <span>
                  Episode length
                </span>
                <span>
                  {{getEpisodeLength(ep.observations[0].createdAt, ep.observations[ep.observations.length - 1].createdAt)}}
                </span>
              </div>

              <!-- <div class="flex justify-content-between">
                <span>Type</span>
                <span>{{ep.observations[0].relationships.odourSubType.relationships?.odourType?.name}}</span>
              </div> -->

              <div class="flex justify-content-between">
                <span>
                  Degree of participation
                </span>
                <span>
                  {{ep.participation}}%
                </span>
              </div>

              <!-- <div class="flex justify-content-between">
                <span>
                  Degree of inconvenience
                </span>
                <div class="flex justify-content-between align-items-center gap-1">
                  <span class="gm color-{{ep.inconvenienceColor}}"></span>
                  {{getInconvenienceInBase100(ep.inconvenience)}}
                </div>
              </div> -->

              <div class="flex justify-content-between">
              <span>Participating citizenship number</span>
              <span>{{ep.differentUsers}}</span>
              </div>

            </div>

            <h6>
              <b>{{ep.observations.length}} observations</b>
            </h6>
            <div class="flex flex-wrap gap-1">
              @for(obs of ep.observations; track obs; let index = $index){
                <div
                  [id]="'obsButton' + obs.id"
                  class="observation obsButton"
                  (click)="[ol.show($event), observationSelected(obs.id)]"
                  (mouseenter)="[ol.show($event), observationPreview(obs.id)]"
                  (mouseover)="ol.show($event)"
                  (mouseleave)="[ol.hide(), observationPreview(null)]"
                  [ngClass]="{ 'active' : obs.id === observation , 'preview' : obs.id === previewObservation && obs.id !== observation, 'plausible' : obs.plausible, 'not-plausible' : !obs.plausible}"
                >
                  @if(obs.plausible){
                    <i class="pi pi-check"></i>
                  }
                  @else {
                    <i class="pi pi-times"></i>
                  }
                  <b>{{obs.createdAt| date:'HH:mm'}}h.</b>
                </div>

                <p-overlayPanel #ol>
                  <div class="flex gap-2">
                    <div class="max-w-24rem gap-2 mb-3">
                      @if(obs.plausible){
                        <div class="flex justify-content-start align-items-center gap-2 mb-1">
                          <i class="pi pi-check"></i>
                          <b><span>Plausible</span></b>
                        </div>
                        The observation is plausible because
                        @if(obs.APGEMOdistance <= plausibilityDistance && obs.relationships.wind.speed > plausibilityWindSpeed){
                          the observer is less than <b>{{plausibilityDistance}}m</b> from the source.
                        }
                        @else if (obs.APGEMOdistance > plausibilityDistance && obs.relationships.wind.speed <= plausibilityWindSpeed){
                          the wind speed is less than <b>{{plausibilityWindSpeed}}m/s</b>.
                        }
                        @else if (obs.APGEMOdistance <= plausibilityDistance && obs.relationships.wind.speed <= plausibilityWindSpeed) {
                          the observer is less than <b>{{plausibilityDistance}}m</b> from the source and the wind speed is less than <b>{{plausibilityWindSpeed}}m/s</b>.
                        }
                        @else {
                          the wind is blowing from the source to the receptor passing through the observer's cone.
                        }
                      }
                      @else {
                        <div class="flex justify-content-start align-items-center gap-2 mb-1">
                          <i class="pi pi-times"></i>
                          <b><span>Not plausible</span></b>
                        </div>
                        The observation is not plausible because the observer is more than <b>{{plausibilityDistance}}m.</b>
                        from the source, the wind speed is faster than <b>{{plausibilityWindSpeed}}m/s</b>
                        and the wind is not blowing from the source to the receptor passing through the observer's cone.
                      }
                    </div>
                  </div>
                  <b>Date:</b> {{obs.createdAt| date:'dd/MM/Y HH:mm'}}<br/>
                  <b>Wind speed:</b> {{obs.relationships.wind.speed}}m/s<br/>
                  <b>Distance from APGEMO:</b> {{obs.APGEMOdistance}}m<br/>
                  <b>Type:</b> {{obs.relationships.odourSubType.relationships?.odourType?.name}}<br/>
                  <b>Subtype:</b> {{obs.relationships.odourSubType.name}}<br/>
                  <b>Hedonic Tone:</b> {{obs.relationships.odourHedonicTone?.name}}<br/>
                  <b>Intensity:</b> {{obs.relationships.odourIntensity?.name}}<br/>
                </p-overlayPanel>

              }
            </div>
          </p-accordionTab>
        }
      </p-accordion>
    </div>
  }

</p-sidebar>


