<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <icon-odour-collect [iconClass]="'mb-5 w-9rem'" />
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full surface-card py-8 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">
            Crea una nueva contraseña
          </div>
          <span class="text-600 font-medium"
            >Introduce una contraseña distinta</span
          >
        </div>
        <form [formGroup]="newPasswordForm" class="flex flex-column gap-5">
          <p-inputGroup class="password-input-group">
            <span class="p-float-label">
              <input
                formControlName="password"
                class="w-full md:w-30rem"
                style="padding: 1rem"
                id="password"
                name="password"
                [type]="this.showPasswords.password ? 'text' : 'password'"
                aria-label="password"
                required
                pInputText
              />
              <label for="password">Nueva contraseña</label>
            </span>
            <button
              type="button"
              pButton
              class="password-input-btn"
              [icon]="this.showPasswords.password ? 'pi pi-eye-slash' : 'pi pi-eye'"
              (click)="toggleShowPassword('password')"
            >
        </button>
          </p-inputGroup>
          <p-inputGroup class="password-input-group">
            <span class="p-float-label">
              <input
                formControlName="password_confirmation"
                class="w-full md:w-30rem"
                style="padding: 1rem"
                id="password_confirmation"
                name="password_confirmation"
                [type]="this.showPasswords.password_confirmation ? 'text' : 'password'"
                aria-label="password_confirmation"
                required
                pInputText
              />
              <label for="password_confirmation"
                >Confirmación de contraseña</label
              >
            </span>
            <button
              type="button"
              pButton
              [icon]="this.showPasswords.password_confirmation ? 'pi pi-eye-slash' : 'pi pi-eye'"
              class="password-input-btn"
              (click)="toggleShowPassword('password_confirmation')"
            ></button>
          </p-inputGroup>
          <button
            pButton
            pRipple
            class="p-button-rounded"
            label="Crear nueva contraseña"
            [disabled]="!newPasswordForm.valid || loading"
            [loading]="loading"
            type="submit"
            (click)="submit()"
          ></button>
        </form>
      </div>
    </div>
  </div>
</div>
<p-toast position="top-center" />
