<canvas #canvasCone id="canvasCone" [width]="canvasWidth" [height]="canvasHeight" style="display: none;"></canvas>

<mgl-map class="card"
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[17]"
    [center]="[observation.x, observation.y]"
    [projection]="'globe'"
  >

  @if(points){
    @for(point of points; track point){

      <mgl-marker [lngLat]="[point.x, point.y]">
        <div class="pi pi-map-marker" style="color: #000; font-size: 1rem"></div>
      </mgl-marker>

    }
  }

  @if(episode && !previewEpisode){

    @for(obs of episode.observations; track obs){

      <mgl-marker [lngLat]="[obs.longitude, obs.latitude]">
        <div
        [ngClass]="{ 'active' : obs.id === selectedObservation, 'preview' : obs.id === previewObservation}"
        (mouseover)="overObservation(obs.id)"
        (mouseleave)="leaveObservation()"
        (click)="observationSelected($event, obs.id)"
        class="pi pi-user btn-observation"></div>
      </mgl-marker>

    }

    @if(cones.length > 0){
      @for(cone of cones; track cone){
        <mgl-canvas-source
          [id]="'cone-' + cone.id + '-source'"
          [canvas]="'cone-' + cone.id"
          [coordinates]="cone.cone.imageCoordinates"
          [animate]="true"
        ></mgl-canvas-source>
        <mgl-layer [id]="'cone-' + cone.id + '-layer'" type="raster" [source]="'cone-' + cone.id + '-source'" [paint]="{'raster-opacity':1}"></mgl-layer>
      }
    }

  }
  @else if(previewEpisode){
    @for(point of previewEpisode.observations; track point){

      <mgl-marker [lngLat]="[point.longitude, point.latitude]">
        <div
        (mouseover)="overObservation(point.id)"
        (mouseleave)="leaveObservation()"
        (click)="observationSelected($event, point.id)"
        class="pi pi-user btn-observation"></div>
      </mgl-marker>

    }
  }
</mgl-map>

