<p-sidebar
  [(visible)]="showMapLayers"
  [position]="'right'"
  [modal]="false"
  [styleClass]="'floatSidebar col-10 lg:col-3 md:col-4'"
  [blockScroll]="false"
  [closeOnEscape]="true"
>
  <div class="flex align-items-center">
    <p-radioButton value="light-v10" [(ngModel)]="layerId" (onClick)="toggleLayerVisibility('light-v10')"/>
    <label for="light-v10" class="ml-2"> Estandar </label>
  </div>
  <div class="flex align-items-center mt-3">
    <p-radioButton value="satellite-streets-v12" [(ngModel)]="layerId" (onClick)="toggleLayerVisibility('satellite-streets-v12')"/>
    <label for="satellite-streets-v12" class="ml-2"> Satèl·lit </label>
  </div>
</p-sidebar>
