//PRIMARY

$blue: #206A71;
$blue-light: #2F929B;
$blue-lighter: #DEEEEF;
$blue-transparency: rgba(32, 106, 113, 0.2);

//SECONDARY

$orange: #FF7A1F;
$orange-light: #FDA568;
$orange-lighter: #ffe6d6;
$orange-transparency: rgba(255, 122, 31, 0.2);

//GREYSCALE

$white: #f8f9f5;
$grey-lighter: #edeef1;
$grey-light: #dcdcda;
$grey: #a0a19f;
$grey-dark: #626260;
$black: #191919;

//OTHERS
$red: #d33f3f;
$error: #d33f3f;

$focus-ring: 0 0 0 0.2rem $orange-transparency !important;
