@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

.headline-l {
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.headline-m {
  font-family: Space Grotesk;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.headline-s {
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.title-l {
  font-family: Space Grotesk;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.088px;
}

.title-m {
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}

.title-s {
  font-family: Space Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.12px;
}

.label-l {
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.2px;
}

.label-m {
  font-family: Space Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.label-s {
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.body-l {
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
}

.body-m {
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
}

.body-s {
  font-family: Space Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.08px;
}

.color-blue-lighter {
  color: $blue-lighter;
}
.color-blue-light {
  color: $blue-light;
}
.color-blue {
  color: $blue;
}

.color-white {
  color: $white;
}
.color-grey-lighter {
  color: $grey-lighter;
}
.color-grey {
  color: $grey;
}
.color-gray-dark {
  color: $grey-dark;
}
.color-black {
  color: $black;
}
