<div id="episodesModal" #episodesModal></div>

<p-sidebar [(visible)]="filterSidebarVisible" [appendTo]="episodesModal" [position]="'right'" [styleClass]="'floatSidebar col-10 lg:col-3 md:col-4'" [modal]="false" [blockScroll]="false">
  <ng-template pTemplate="header">
    <div class="flex flex-1 justify-content-between">
      <h5 class="mb-0">Filtros</h5>
    </div>
  </ng-template>
  <ng-template pTemplate="body">
    <form [formGroup]="filtersForm" class="flex flex-column p-1 pt-4 gap-2">

      <div class="flex flex-column">
        <p-checkbox formControlName="type" label="Tipo de olor" [binary]="true" [class]="'flex justify-content-between'" />
        <div class="card mt-3 mb-4 p-3 gap-2 flex flex-column filter" *ngIf="filtersForm.value.type">
          @if(odourTypes) {
            @for (odourType of odourTypes; track $index) {
              <p-checkbox formControlName="typeFilter" [name]="'typeFilter'" [label]="odourType.name" [value]="odourType.slug" [class]="'flex justify-content-start'" />
            }
          }
        </div>
      </div>

      <div class="flex flex-column">
        <p-checkbox formControlName="hedonicTone" label="Tono Hedónico" [binary]="true" [class]="'flex justify-content-between'" />
        <div class="card mt-3 mb-4 p-3 gap-2 flex flex-column filter" *ngIf="filtersForm.value.hedonicTone">
          <small class="text-center mb-2">
            @if(filtersForm.value.hedonicToneFilter[0] === filtersForm.value.hedonicToneFilter[1]){
              {{hedonicToneTitle[filtersForm.value.hedonicToneFilter[0] + 4]}}
            }
            @else {
              {{hedonicToneTitle[filtersForm.value.hedonicToneFilter[0] + 4]}} - {{hedonicToneTitle[filtersForm.value.hedonicToneFilter[1] + 4]}}
            }
          </small>
          <p-slider formControlName="hedonicToneFilter" [step]="1" [min]="-4" [max]="4" [range]="true" [className]="'ml-2 mb-2 mr-2'" />
        </div>
      </div>

      <div class="flex flex-column">
        <p-checkbox formControlName="intensity" label="Intensidad" [binary]="true" [class]="'flex justify-content-between'" />
        <div class="card mt-3 mb-4 p-3 gap-2 flex flex-column filter" *ngIf="filtersForm.value.intensity">
          <small class="text-center mb-2">
            @if(filtersForm.value.intensityFilter[0] === filtersForm.value.intensityFilter[1]){
              {{intensityTitle[filtersForm.value.intensityFilter[0]]}}
            }
            @else {
              {{intensityTitle[filtersForm.value.intensityFilter[0]]}} - {{intensityTitle[filtersForm.value.intensityFilter[1]]}}
            }
          </small>
          <p-slider formControlName="intensityFilter" [step]="1" [min]="0" [max]="6" [range]="true" [className]="'ml-2 mb-2 mr-2'" />
        </div>
      </div>

      <div class="flex flex-column">
        <p-checkbox formControlName="days" label="Tiempo diario" [binary]="true" [class]="'flex justify-content-between'" />
        <p-calendar formControlName="daysFilter" class="mt-3 mb-4 w-100 flex flex-column" [panelStyleClass]="'card p-0'" [inline]="true" [selectionMode]="'range'" *ngIf="filtersForm.value.days" />
      </div>

      <div class="flex flex-column">
        <p-checkbox formControlName="hours" label="Tiempo horario" [binary]="true" [class]="'flex justify-content-between'" />
        <p-calendar formControlName="hoursFilter" class="mt-3 w-100 flex flex-column" [panelStyleClass]="'card p-0'" [timeOnly]="true" [inline]="true" *ngIf="filtersForm.value.hours" />
      </div>
      {{filtersForm.value | json}}

    </form>
  </ng-template>
</p-sidebar>


