<div class="card p-2 flex flex-column flex-nowrap lg:flex-row gap-2">

  <div class="card col-12 lg:col-7 xl:col-9 flex-order-1 lg:flex-order-0">
    <div class="card-body">
      @if(data && data.datasets && data.datasets.length > 0){
        <p-chart type="line" [data]="data" [options]="options" />
      }
    </div>
  </div>

  <div class="card w-full flex-order-0 lg:flex-order-1">
    <div class="card-body flex flex-column h-full">
      <div class="flex gap-2 mt-1 ml-1 mr-1">
        <div class="flex flex-column gap-3 w-full">
          <div class="flex field-checkbox mt-2 w-full">
              <p-radioButton [inputId]="'timeFilter1'" [(ngModel)]="timeFilter" name="timeFilter" [value]="'hours'" (click)="getObservationOrderByTypeAndHourRange()"></p-radioButton>
              <label [for]="'timeFilter1'" class="ml-2">Horario</label>
          </div>
          <div class="flex field-checkbox">
              <p-radioButton [inputId]="'timeFilter2'" [(ngModel)]="timeFilter" name="timeFilter" [value]="'months'" (click)="getObservationOrderByTypeAndMonth()"></p-radioButton>
              <label [for]="'timeFilter2'" class="text-right ml-2">Mensual</label>
          </div>
          <div class="flex field-checkbox">
              <p-radioButton [inputId]="'timeFilter3'" [(ngModel)]="timeFilter" name="timeFilter" [value]="'seasons'" (click)="getObservationOrderByTypeAndSeason()"></p-radioButton>
              <label [for]="'timeFilter3'" class="ml-2">Estacional</label>
          </div>
          <div class="flex field-checkbox">
              <p-radioButton [inputId]="'timeFilter4'" [(ngModel)]="timeFilter" name="timeFilter" [value]="'years'" (click)="getObservationOrderByTypeAndYear()"></p-radioButton>
              <label [for]="'timeFilter4'" class="ml-2">Anual</label>
          </div>
        </div>
        <p-divider layout="vertical" ></p-divider>

        <div class="flex flex-column gap-3 w-full">
          <div class="flex field-checkbox mt-2 w-full">
              <p-radioButton [inputId]="'dataTypeFilter1'" [(ngModel)]="dataTypeFilter" name="dataTypeFilter" [value]="'type'" (click)="changeTimeFilter()"></p-radioButton>
              <label [for]="'dataTypeFilter1'" class="ml-2">Tipología</label>
          </div>
          <div class="flex field-checkbox">
              <p-radioButton [inputId]="'dataTypeFilter2'" [(ngModel)]="dataTypeFilter" name="dataTypeFilter" [value]="'intensity'" (click)="changeTimeFilter()"></p-radioButton>
              <label [for]="'dataTypeFilter2'" class="text-right ml-2">Intensidad</label>
          </div>
          <div class="flex field-checkbox">
              <p-radioButton [inputId]="'dataTypeFilter3'" [(ngModel)]="dataTypeFilter" name="dataTypeFilter" [value]="'hedonicTone'" (click)="changeTimeFilter()"></p-radioButton>
              <label [for]="'dataTypeFilter3'" class="ml-2">Tono hedónico</label>
          </div>
        </div>

      </div>
      <p-divider></p-divider>
      <div class="flex h-full flex-column m-1 h-100 justify-content-around">
        @for(data of data?.datasets; track data ){
          <div class="flex aling-items-center justify-content-between">
            <small>{{data.label}}</small>
            <div class="mt-5 md:mt-0 flex align-items-center"><div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px;"><div class="h-full" [style]="{'backgroundColor':data.backgroundColor, 'width': 50 + '%'}"></div></div><span class="text-orange-500 ml-3 font-medium">{{50 + '%'}}</span></div>
          </div>
        }
      </div>
    </div>
  </div>

</div>

<div class="card w-full">
  <div class="card-body">

  <div class="card col-6 lg:col-4 xl:col-4">sdafasdf
  </div>

  <div class="card col-6 lg:col-4 xl:col-4">sadf
  </div>

  <div class="card col-6 lg:col-4 xl:col-4">asdf
  </div>
</div>

