<div id="toolsBar">
  <div class="tools gap-3">

    @if (!polygonFilter()) {
    <p-button (click)="drawPolygonFilter()">
      <i class="pi pi-pencil mr-2"></i>
      <span>{{ 'soundscape.map.createFilter' | translate}}</span>
    </p-button>
    }
    @else {
      <p-button (click)="deletePolygonFilter()">
        <i class="pi pi-trash mr-2"></i>
        <span>{{ 'soundscape.map.deleteFilter' | translate}}</span>
      </p-button>

      <div id="timeFilters" class="card flex flex-column p-2 gap-2">
        <p-radioButton name="dateFilter" [(ngModel)]="timeFilter" value="morning" label="{{ 'soundscape.filter.morning' | translate}}"/>
        <p-radioButton name="dateFilter" [(ngModel)]="timeFilter" value="afternoon" label="{{ 'soundscape.filter.afternoon' | translate}}"/>
        <p-radioButton name="dateFilter" [(ngModel)]="timeFilter" value="night" label="{{ 'soundscape.filter.night' | translate}}"/>
        <p-radioButton name="dateFilter" [(ngModel)]="timeFilter" value="wholeDay" label="{{ 'soundscape.filter.wholeDay' | translate}}"/>
      </div>
    }
    </div>
</div>
<div class="flex flex-column w-full gap-3">
  <div #map class="map-container"></div>
  @if(observations.length > 0){
    <app-sound-levels-chart class="card" [observations]="observations" />
  }
</div>

