<header>
  <h1>Hola de nuevo Sandra,</h1>
</header>
<section>
  <div class="flex flex-column gap-3 w-min">
    <input pInputText disabled placeholder="Sandra Rodriguez" />
    <input pInputText disabled placeholder="sandra.rodriguez@company.com" />
    <input pInputText disabled placeholder="Company SA" />
  </div>
  <button
    (click)="showDialog()"
    pButton
    type="button"
    class="p-button-rounded p-button-primary mt-3"
  >
    Actualizar contraseña
  </button>
</section>

<p-dialog
  header="Actualiza tu contraseña"
  [modal]="true"
  [(visible)]="visible"
  [draggable]="false"
  [resizable]="false"
  [style]="{ maxWidth: '500px', width: '80%' }"
>
  <form [formGroup]="newPasswordForm" class="flex flex-column gap-5 mt-5">
    <p-inputGroup class="password-input-group">
      <span class="p-float-label">
        <input
          formControlName="old_password"
          class="w-full md:w-30rem"
          style="padding: 1rem"
          id="old_password"
          name="old_password"
          [type]="this.showPasswords.old_password ? 'text' : 'password'"
          aria-label="old_password"
          required
          pInputText
        />
        <label for="old_password">Tu contraseña actual</label>
      </span>
      <button
        type="button"
        pButton
        class="password-input-btn"
        [class.invalid-input]="
          newPasswordForm.get('old_password')?.invalid &&
          newPasswordForm.get('old_password')?.dirty
        "
        [icon]="
          this.showPasswords.old_password ? 'pi pi-eye-slash' : 'pi pi-eye'
        "
        (click)="toggleShowPassword('old_password')"
      ></button>
    </p-inputGroup>
    <p-inputGroup class="password-input-group">
      <span class="p-float-label">
        <input
          formControlName="new_password"
          class="w-full md:w-30rem"
          style="padding: 1rem"
          id="new_password"
          name="new_password"
          [type]="this.showPasswords.new_password ? 'text' : 'password'"
          aria-label="new_password"
          required
          pInputText
        />
        <label for="new_password">Nueva contraseña</label>
      </span>
      <button
        type="button"
        pButton
        class="password-input-btn"
        [class.invalid-input]="
          newPasswordForm.get('new_password')?.invalid &&
          newPasswordForm.get('new_password')?.dirty
        "
        [icon]="
          this.showPasswords.new_password ? 'pi pi-eye-slash' : 'pi pi-eye'
        "
        (click)="toggleShowPassword('new_password')"
      ></button>
    </p-inputGroup>
    <p-inputGroup class="password-input-group">
      <span class="p-float-label">
        <input
          formControlName="new_password_confirmation"
          class="w-full md:w-30rem"
          style="padding: 1rem"
          id="new_password_confirmation"
          name="new_password_confirmation"
          [type]="
            this.showPasswords.new_password_confirmation ? 'text' : 'password'
          "
          aria-label="new_password_confirmation"
          required
          pInputText
        />
        <label for="new_password_confirmation"
          >Confirmación de contraseña</label
        >
      </span>
      <button
        type="button"
        pButton
        [icon]="
          this.showPasswords.new_password_confirmation
            ? 'pi pi-eye-slash'
            : 'pi pi-eye'
        "
        class="password-input-btn"
        [class.invalid-input]="
          newPasswordForm.get('new_password_confirmation')?.invalid &&
          newPasswordForm.get('new_password_confirmation')?.dirty
        "
        (click)="toggleShowPassword('new_password_confirmation')"
      ></button>
    </p-inputGroup>
    <button
      pButton
      pRipple
      class="p-button-rounded"
      label="Crear nueva contraseña"
      [disabled]="!newPasswordForm.valid || loading"
      [loading]="loading"
      type="submit"
      (click)="submit()"
    ></button>
  </form>
</p-dialog>
<p-toast position="top-center" />
