<div class="card">
  @if(!odourEpisodes){
  <div class="flex flex-column align-items-center">
    <p-skeleton width="400px" height="22px"></p-skeleton>
    <div class="flex flex-wrap gap-2 justify-content-center mt-3">
      <p-skeleton shape="circle" size="10rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton shape="circle" size="10rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton shape="circle" size="10rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton shape="circle" size="10rem" styleClass="mr-2"></p-skeleton>
    </div>
  </div>
  } @else {
  <h2 class="title-l text-center">
    <i class="pi pi-check"></i>
    Llevas <strong>{{ getDaysfromLastEpisode() }}</strong> días sin episodios de
    olor
  </h2>
  <p></p>
  <div class="flex flex-wrap gap-2 justify-content-center">
    @for (episode of odourEpisodesSelected; track $index) {
    <div class="flex flex-column justify-content-center align-items-center">
      <div
        class="border-circle p-3 episode-card flex align-items-center text-center"
      >
        <p class="title-s">
          {{
            episode === 0
              ? "Sin episodios de olor"
              : episode + "  " + "Episodios de olor"
          }}
        </p>
      </div>
      <p class="title-m">{{ selectedMonths[$index] }}</p>
    </div>
    }
  </div>
  @if(numberOfPages > 1){
  <div class="flex justify-content-center mt-3">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [styleClass]="'pagination'"
      [first]="firstPage"
      [rows]="6"
      [totalRecords]="months.length"
    ></p-paginator>
  </div>
  } }
</div>
