.episode-card {
  background-color: var(--orange-lighter);
  border: 1px solid var(--orange);
  width: 130px;
  height: 130px;
}

.episode-card.counter {
  background-color: var(--green-lighter);
  border: 1px solid var(--green);
}
