<ul class="layout-menu">
  <li>
    <icon-odour-icon-logo [iconClass]="'w-full mr-2 w-2rem h-2rem'" />
    <span class="menu-item"> SoundCollect</span>
  </li>
  <p-divider />
  <li>
    <a
      pRipple
      routerLink="/"
      [routerLinkActiveOptions]="{
        paths: 'exact',
        queryParams: 'ignored',
        matrixParams: 'ignored',
        fragment: 'ignored'
      }"
      routerLinkActive="active-route"
    >
      <icon-bar-chart [iconClass]="'mr-2'" />
      <span class="menu-item"> Resumen </span>
    </a>
  </li>
  <li>
    <a routerLink="/episodes" routerLinkActive="active-route">
      <icon-transition-fade [iconClass]="'mr-2'" />
      <span class="menu-item"> Episodios de olor </span>
    </a>
  </li>
  <li>
    <a routerLink="/registers" routerLinkActive="active-route">
      <icon-odour-registers [iconClass]="'mr-2'" />
      <span class="menu-item"> Registros de olor </span>
    </a>
  </li>
  <li id="reports">
    <a routerLink="/reports" routerLinkActive="active-route">
      <icon-rubric [iconClass]="'mr-2'" />
      <span class="menu-item"> Informes </span>
    </a>
  </li>
  <p-divider />
  <li>
    <button
      pButton
      type="button"
      class="p-button-rounded p-button-outlined w-full"
    >
      <icon-date-range />
      <span class="menu-item"> Filtro tiempo </span>
    </button>
  </li>
  <p-divider />
  <div class="h-full flex flex-column justify-content-end gap-3">
    <li>
      <a
        routerLink="/profile"
        routerLinkActive="active-route"
        pButton
        type="button"
        class="p-button-rounded p-button-outlined w-full"
      >
        <icon-user />
        <span class="menu-item"> Mi perfil </span>
      </a>
    </li>
    <li>
      <button
        (click)="logout()"
        pButton
        type="button"
        class="p-button-rounded p-button-outlined w-full"
      >
        <icon-logout />
        <span class="menu-item"> Cerrar sesión </span>
      </button>
    </li>
  </div>
</ul>
