<ul class="layout-menu">
  <!-- <ng-container *ngFor="let item of model; let i = index">
    <li
      app-menuitem
      *ngIf="!item.separator"
      [item]="item"
      [index]="i"
      [root]="true"
    ></li>
    <li *ngIf="item.separator" class="menu-separator"></li>
  </ng-container> -->
  <li>
    <icon-odour-icon-logo [iconClass]="'w-full mr-2 w-2rem h-2rem'" />
    <span class="menu-item"> ZONA DE ESTUDIO {{ studyZoneid }}</span>
  </li>
  <p-divider />
  <li>
    <a
      pRipple
      routerLink="/dashboard"
      [routerLinkActiveOptions]="{
        paths: 'exact',
        queryParams: 'ignored',
        matrixParams: 'ignored',
        fragment: 'ignored'
      }"
      routerLinkActive="active-route"
    >
      <icon-bar-chart [iconClass]="'mr-2'" />
      <span class="menu-item"> Resumen </span>
    </a>
  </li>
  <li>
    <a routerLink="/dashboard/episodes" routerLinkActive="active-route">
      <icon-transition-fade [iconClass]="'mr-2'" />
      <span class="menu-item"> Episodios de olor </span>
    </a>
  </li>
  <li>
    <a routerLink="/dashboard/registers" routerLinkActive="active-route">
      <icon-odour-registers [iconClass]="'mr-2'" />
      <span class="menu-item"> Registros de olor </span>
    </a>
  </li>
  <li>
    <a routerLink="/dashboard/reports" routerLinkActive="active-route">
      <icon-rubric [iconClass]="'mr-2'" />
      <span class="menu-item"> Informes </span>
    </a>
  </li>
  <p-divider />
  <li>
    <button
      pButton
      type="button"
      class="p-button-rounded p-button-outlined w-full"
    >
      <icon-date-range />
      <span class="menu-item"> Filtro tiempo </span>
    </button>
  </li>
  <li>
    <button
      (click)="openStudyZoneModal()"
      pButton
      type="button"
      class="p-button-rounded p-button-outlined w-full"
    >
      <icon-change-circle />
      <span class="menu-item"> Cambiar zona </span>
    </button>
  </li>
  <p-divider />
  <li>
    <button
      (click)="saveView()"
      [disabled]="disabledAddToReports"
      pButton
      type="button"
      class="p-button-rounded p-button-outlined w-full"
    >
      <icon-add-to-chart />
      <span class="menu-item"> Añadir al informe </span>
    </button>
  </li>
  <div class="h-full flex flex-column justify-content-end gap-3">
    <li>
      <a
        routerLink="/dashboard/profile"
        routerLinkActive="active-route"
        pButton
        type="button"
        class="p-button-rounded p-button-outlined w-full"
      >
        <icon-user />
        <span class="menu-item"> Mi perfil </span>
      </a>
    </li>
    <li>
      <button
        (click)="logout()"
        pButton
        type="button"
        class="p-button-rounded p-button-outlined w-full"
      >
        <icon-logout />
        <span class="menu-item"> Cerrar sesión </span>
      </button>
    </li>
  </div>
</ul>
