<app-registers-filter-modal
  (filtersOutput)="handleFilters($event)"
  (closeFilterSidebar)="showFilters = false"
  [filterSidebarVisible]="showFilters"
/>
<p-toolbar #toolBar>
  <ng-template pTemplate="start">


    <p-button
      (onClick)="toggleHeatmapLayer(false)"
      [ngClass]="{ active: !heatmapLayer }"
      pTooltip="Marcadores"
      tooltipPosition="bottom"
    >
      <i class="pi pi-map-marker"></i>
    </p-button>
    <p-button
      (onClick)="toggleHeatmapLayer(true)"
      [ngClass]="{ active: heatmapLayer }"
      pTooltip="Mapa de calor"
      tooltipPosition="bottom"
    >
      <i class="pi pi-sun"></i>
    </p-button>
  </ng-template>
  <ng-template pTemplate="center">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText />
    </span>
  </ng-template>
  <ng-template pTemplate="end" #filterButton>
    <div class="flex gap-2">
      <p-button
        (onClick)="toggleFilters()"
        [ngClass]="{ active: filters }"
        pTooltip="{{ filters ? 'Desactivar filtros' : 'Aplicar filtros' }}"
        tooltipPosition="bottom"
      >
        <i
          class="pi"
          [ngClass]="{ 'pi-filter': filters, 'pi-filter-slash': !filters }"
        ></i>
      </p-button>
      <p-button
        (onClick)="toggleShowFilters()"
        [ngClass]="{ active: showFilters }"
        pTooltip="{{ filters ? 'Editar filtros' : 'Ocutar filtros' }}"
        tooltipPosition="bottom"
      >
        <i class="pi pi-sliders-h"></i>
      </p-button>
    </div>
  </ng-template>
</p-toolbar>
<div #mapContainer>
  <mgl-map
    #map
    class="card"
    range="[-180, -90, 180, 90]"
    [style]="'mapbox://styles/mapbox/light-v11'"
    [zoom]="[17]"
    [center]="[intialPoint.x, intialPoint.y]"
    [cooperativeGestures]="true"
    [projection]="'globe'"
    [preserveDrawingBuffer]="true"
    *ngIf="intialPoint && intialPoint.x && intialPoint.y"
  >
    @if(APGEMOpoints && APGEMOpoints.length > 0){ @for(point of APGEMOpoints;
    track point){

    <mgl-marker [lngLat]="[point.x, point.y]">
      <div class="apgemo-point"></div>
    </mgl-marker>

    } } @if(APGEMOpolygon && APGEMOpolygon.length > 0){

    <mgl-geojson-source id="APEGMOpolygons">
      <mgl-feature
        *ngFor="let polygon of APGEMOpolygon"
        [geometry]="polygon.geometry"
      />
    </mgl-geojson-source>

    <mgl-layer
      id="APEGMOpolygons"
      type="fill"
      source="APEGMOpolygons"
      [paint]="APGEMOpolygonStyle"
    />

    }

    <ng-container *ngIf="geoJsonObservation">
      <mgl-geojson-source
        #clusterComponent
        id="geoJsonObservation"
        [data]="geoJsonObservation"
        [cluster]="!heatmapLayer"
        [clusterRadius]="20"
        [clusterMaxZoom]="17"
        [filter]="
          (sourceFilter && sourceFilter.length) > 1 && filters
            ? sourceFilter
            : null
        "
      />
      @if(heatmapLayer){
      <mgl-layer
        id="obs-heat"
        type="heatmap"
        source="geoJsonObservation"
        [paint]="{
          'heatmap-weight': [
            'interpolate',
            ['linear'],
            ['get', 'color'],
            0,
            0,
            12,
            1
          ],
          'heatmap-intensity': [
            'interpolate',
            ['linear'],
            ['zoom'],
            0,
            0,
            9,
            1
          ],
          'heatmap-color': [
            'interpolate',
            ['linear'],
            ['heatmap-density'],
            0,
            'rgba(58,136,185,0)',
            0.1,
            'rgba(58,136,185,.2)',
            0.2,
            'rgba(73,143,184,.4)',
            0.3,
            'rgb(96,156,181)',
            0.4,
            'rgb(127,180,175)',
            0.5,
            'rgb(168,218,165)',
            0.6,
            'rgb(255,234,166)',
            0.7,
            'rgb(253,176,100)',
            0.8,
            'rgb(236,111,60)',
            0.9,
            'rgb(223,64,38)',
            1,
            'rgb(216,34,30)'
          ],
          'heatmap-radius': [
            'interpolate',
            ['linear'],
            ['zoom'],
            0,
            20,
            20,
            50
          ],
          'heatmap-opacity': ['interpolate', ['linear'], ['zoom'], 1, 1, 20, 1]
        }"
      />
      } @else{
      <mgl-layer
        id="obs-clusters"
        type="circle"
        source="geoJsonObservation"
        [filter]="['has', 'point_count']"
        [paint]="{
          'circle-color': [
            'step',
            ['get', 'point_count'],
            '#627BC1',
            10,
            '#f1f075',
            20,
            '#f28cb1'
          ],
          'circle-radius': [
            'step',
            ['get', 'point_count'],
            20,
            100,
            30,
            750,
            40
          ]
        }"
      />
      <mgl-layer
        id="obs-cluster-count"
        type="symbol"
        source="geoJsonObservation"
        [filter]="['has', 'point_count']"
        [layout]="{
          'text-field': ['get', 'point_count_abbreviated'],
          'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
          'text-size': 12
        }"
      />
      <mgl-layer
        id="unclustered-point"
        type="circle"
        source="geoJsonObservation"
        [filter]="['!', ['has', 'point_count']]"
        [paint]="{
          'circle-color': '#11b4da',
          'circle-radius': 4,
          'circle-stroke-width': 1,
          'circle-stroke-color': '#fff'
        }"
      />

      }
    </ng-container>
  </mgl-map>
</div>
