$randomNumber: random(3);
:host{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
}
mgl-map{
  flex: 1 1 auto;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0;
  height: calc(100vh - 1rem);
  .observationMarker{
    transition: all 0.3s cubic-bezier(0,.60,.25,1);
    color: red;
    background-color: #dba135;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    min-width: 20px;
    opacity: 0.5;

    i{
      font-size: 1.5rem;
    }

    &.rest{
      color: #348ac7;
      animation-delay: 1.6s;
    }
  }
  .apgemo-point{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #348ac7;
    border: 1px solid #363c69;
  }
}

@keyframes obsMarkerAnimation {
  0% {
    transform: translate(0, -500px) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0.75rem) scale(1);
    opacity: 1;
  }
}


:host ::ng-deep {
  .p-toolbar{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 12px;
    position: absolute;
    z-index: 100;
    width: calc(100% - 1rem);
    margin: 0.5rem;
    background-color: var(--surface-overlay);
    padding: 0.5rem;
    transition: all 0.3s cubic-bezier(0,.60,.25,1);
    .p-toolbar-group-center{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
  p-button .p-button{
    background-color: var(--surface);
    color: var(--text);
  }
  p-button.active .p-button{
    background-color: var(--orange);
    color: var(--surface);
  }
  p-selectbutton .p-button{
    background-color: var(--surface);
    border-color: var(--orange);
    color: var(--text);
    &.p-highlight{
      background-color: var(--orange);
      color: var(--surface);
    }
    &.p-button .p-button-icon-left,
    &.p-button .p-button-icon-right{
      color: var(--surface);
    }
  }
}
:host :host ::ng-deep {
  p-overlayPanel{
    display: hidden;
  }
}



