  <div class="card-body flex flex-column flex-nowrap lg:flex-row gap-2">
    <div class="card col-12 lg:col-7 xl:col-9 flex-order-1 lg:flex-order-0">
      <div class="card-body">
        <div class="flex m-2">
          <p-selectButton [options]="stateOptions" [(ngModel)]="chartRadar" [unselectable]="true" optionLabel="label" optionValue="value" />
        </div>
      </div>
      <div class="card-body">

        @if(chartRadar){
          <p-chart type="radar" class="max-h-10rem" [data]="data" [options]="radarOptions" #chart />
        } @else {
          <p-chart type="bar" class="max-h-10rem" [data]="data" [options]="barOptions" #chart />
        }

      </div>
    </div>
    <div
      class="w-full mb-4 lg:mb-0 lg:ml-2 lg:mr-2 flex-order-0 lg:flex-order-1"
    >
      <div class="card-body flex flex-column h-full">
        <div class="flex flex-column md:flex-row gap-2 mt-1 ml-1 mr-1">
          <div class="flex lg:flex-column flex-wrap w-full gap-4 md:gap-2">
            <h6 class="w-full ml-1 mt-1 mr-1 mb-0 md:mb-3">Mostrar:</h6>
            <div class="flex field-checkbox mb-1">
              <p-radioButton
                [inputId]="'windFilter1'"
                [(ngModel)]="windFilter"
                name="windFilter"
                [value]="'direction'"
                (click)="changeWindFilter()"
              ></p-radioButton>
              <label [for]="'windFilter1'">Origen</label>
            </div>
            <div class="flex field-checkbox mb-1">
              <p-radioButton
                [inputId]="'windFilter2'"
                [(ngModel)]="windFilter"
                name="windFilter"
                [value]="'speed'"
                (click)="changeWindFilter()"
              ></p-radioButton>
              <label [for]="'windFilter2'">Velocidad</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
