<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <icon-odour-collect [iconClass]="'mb-5 w-9rem'" />
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full surface-card py-8 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">
            Restablece tu contraseña
          </div>
          <span class="text-600 font-medium"
            >Introduce el correo asociado a tu cuenta</span
          >
        </div>
        <form [formGroup]="recoverPasswordForm" class="flex flex-column gap-5">
          <span class="p-float-label">
            <input
              formControlName="email"
              class="w-full md:w-30rem"
              style="padding: 1rem"
              id="email"
              name="email"
              type="email"
              aria-label="Email"
              required
              pInputText
            />
            <label for="email">Email</label>
          </span>
          <button
            pButton
            pRipple
            class="p-button-rounded"
            label="Enviar correo"
            [disabled]="!recoverPasswordForm.valid || loading"
            [loading]="loading"
            type="submit"
            (click)="submit()"
          ></button>
        </form>
      </div>
    </div>
  </div>
</div>
<p-toast position="top-center" />
