<section class="mb-3 flex justify-content-end">
  <div style="width: fit-content" class="card flex gap-3">
    <p-dropdown
      [options]="types"
      optionLabel="name"
      optionValue="id"
      [showClear]="true"
      placeholder="Tipos"
      (onChange)="filterByTypes($event.value,'type')"
    />
    <p-dropdown
      [options]="subtypes"
      optionLabel="name"
      optionValue="id"
      [showClear]="true"
      placeholder="Subtipos"
      (onChange)="filterByTypes($event.value,'subtype')"
    />
  </div>
</section>
<div class="card mb-0">
  <div class="flex title gap-3 justify-content-center mb-3">
    <div>
      <div></div>
      <p>Ótpima</p>
    </div>
    <div>
      <div></div>
      <p>Mejorable</p>
    </div>
    <div>
      <div></div>
      <p>Grave</p>
    </div>
    <div>
      <div></div>
      <p>Crítica</p>
    </div>
  </div>
  <p-chart
    type="bar"
    [data]="basicData"
    [options]="basicOptions"
    (onDataSelect)="showDialog()"
  ></p-chart>
  <p class="text-xl text-center">Grado de molestia</p>
</div>
<p-dialog
  header="Información semaforo"
  [modal]="true"
  [(visible)]="visible"
  [draggable]="false"
  [resizable]="false"
  [style]="{ maxWidth: '500px', width: '80%' }"
>
  <ul class="p-0">
    <li class="flex justify-content-between">
      <strong>Fecha de inicio:</strong> dd/mm/yyyy hh:mm
    </li>
    <li class="flex justify-content-between">
      <strong>Fecha final:</strong> dd/mm/yyyy hh:mm
    </li>
    <li class="flex justify-content-between">
      <strong>Duración episodio:</strong> 12h
    </li>
    <li class="flex justify-content-between">
      <strong>Grado de molestia:</strong> 58
    </li>
    <li class="flex justify-content-between">
      <strong>Grado de participación:</strong> 20%
    </li>
    <li class="flex justify-content-between">
      <strong>Número de ciudadanía participante:</strong> 20
    </li>
  </ul>
</p-dialog>
