<div class="card mb-0">
  <p-chart
    type="bar"
    [data]="basicData"
    [options]="basicOptions"
    (onDataSelect)="showDialog()"
  ></p-chart>
</div>
<p-dialog
  header="Información semaforo"
  [modal]="true"
  [(visible)]="visible"
  [draggable]="false"
  [resizable]="false"
  [style]="{ maxWidth: '500px', width: '80%' }"
>
  <ul class="p-0">
    <li class="flex justify-content-between">
      <strong>Fecha de inicio:</strong> dd/mm/yyyy hh:mm
    </li>
    <li class="flex justify-content-between">
      <strong>Fecha final:</strong> dd/mm/yyyy hh:mm
    </li>
    <li class="flex justify-content-between">
      <strong>Duración episodio:</strong> 12h
    </li>
    <li class="flex justify-content-between">
      <strong>Grado de molestia:</strong> 58
    </li>
    <li class="flex justify-content-between">
      <strong>Grado de participación:</strong> 20%
    </li>
    <li class="flex justify-content-between">
      <strong>Número de ciudadanía participante:</strong> 20
    </li>
  </ul>
</p-dialog>
