@import "../styles/colors.scss";
@import "../styles/_buttons.scss";
@import "../styles/fonts.scss";
@import "../styles/_inputs.scss";

@import "assets/layout/styles/layout/layout.scss";

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

@import "assets/layout/styles/theme/bootstrap4-light-blue/theme.css";

$gutter: 1rem; //for primeflex grid system

:root {
  //PRIMARY
  --blue: #{$blue};
  --blue-light: #{$blue-light};
  --blue-lighter: #{$blue-lighter};
  --blue-transparency: #{$blue-transparency};

  //SECONDARY

  --orange: #{$orange};
  --orange-light: #{$orange-light};
  --orange-lighter: #{$orange-lighter};
  --orange-transparency: #{$orange-transparency};
}
body {
  font-family: Space Grotesk;
  overflow-x: hidden;
}


