//PRIMARY

$violet: #d7b1f2;
$violet-light: #dfc4f2;
$violet-lighter: #f4eafa;
$violet-dark: #c19fd9;
$violet-transparency: rgba(215, 177, 242, 0.2);

//SECONDARY

$green: #cbe87c;
$green-light: #daf299;
$green-lighter: #f5fce4;
$green-dark: #b5cf6e;
$green-transparency: rgba(203, 232, 124, 0.2);

$orange: #ff6200;
$orange-light: #ff8133;
$orange-lighter: #ffe6d6;
$orange-dark: #e55800;
$orange-transparency: rgba(255, 98, 0, 0.2);

$blue: #8ad1f9;
$blue-light: #a2daf9;
$blue-lighter: #e7f5fd;
$blue-dark: #7cbce0;
$blue-transparency: rgba(138, 209, 249, 0.2);

$yellow: #ffff7d;
$yellow-light: #ffff9e;
$yellow-lighter: #ffffdb;
$yellow-dark: #eded74;
$yellow-transparency: rgba(255, 255, 125, 0.2);

//GREYSCALE

$white: #f8f9f5;
$grey-lighter: #EDEEF1;
$grey-light: #DCDCDA;
$grey: #A0A19F;
$grey-dark: #626260;
$black: #191919;

//OTHERS
$red: #D33F3F;
$error: #D33F3F;

